
<div class="chat-container">
  <h2 class="chat-title">CHAT</h2>
  <input id="chat-box" name="chatbox" type="text" class="chat-input" value="" />
  <div id="div-messagesChat" class="chat-messages">Write your message</div>
</div>
<script src="/socket.io/socket.io.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/js/chatcontroller.js"></script>